In [1]:
class City:
    def __init__(self, name, region):
        self.name = name
        self.region = region
        
cities = [
    City("Perugia", "Umbria"),
    City("Bologna", "Emilia-Romagna"),
    City("Florence", "Toscana")
]

In [2]:
class Food:
    def __init__(self,
                 name,
                 has_flour=False,
                 has_tomato=False,
                 served_hot=False):
        self.name = name
        self.has_flour = has_flour
        self.has_tomato = has_tomato
        self.served_hot = served_hot

tagliatella = Food("tagliatella", has_flour=True, has_tomato=True, served_hot=True)
torta_al_testo = Food("torta al testo", has_flour=True, has_tomato=False, served_hot=False)
bistecca = Food("bistecca", has_flour=False, has_tomato=False, served_hot=True)

In [3]:
class City_with_food(City):
    def __init__(self, name, region, foods):
        super().__init__(name, region)
        self.foods = foods
        
cities = [
    City_with_food("Perugia", "Umbria", [tagliatella, torta_al_testo]),
    City_with_food("Bologna", "Emilia-Romagna", [tagliatella]),
    City_with_food("Florence", "Toscana", [bistecca])
]

In [4]:
tomato_regions = list()

for city in cities:
    for food in city.foods:
        if food.has_tomato:
            tomato_regions.append(city.region)
            
tomato_regions

['Umbria', 'Emilia-Romagna']

In [5]:
import pandas as pd

city_df = pd.DataFrame([
    {"city_name" : "Perugia", "region" : "Umbria"},
    {"city_name" : "Bologna", "region" : "Emilia-Romagna"},
    {"city_name" : "Florence", "region" : "Toscana"}
])

city_df

  city_name          region
0   Perugia          Umbria
1   Bologna  Emilia-Romagna
2  Florence         Toscana

In [7]:
food_df = pd.DataFrame(
    [
        ["tagliatella", True, True, True],
        ["torta al testo", True, False, False],
        ["baci perugina", False, False, False],
        ["bistecca", False, False, True]
    ], columns=["food_name", "has_flour", "has_tomato", "served_hot"]
)

food_df

        food_name  has_flour  has_tomato  served_hot
0     tagliatella       True        True        True
1  torta al testo       True       False       False
2   baci perugina      False       False       False
3        bistecca      False       False        True

In [8]:
relations = pd.DataFrame(
    [
        ["Perugia", "tagliatella"],
        ["Perugia", "torta al testo"],
        ["Bologna", "tagliatella"],
        ["Florence", "bistecca"],
        ["Perugia", "baci perugina"]
    ], columns=["city_name", "food_name"]
)

relations

  city_name       food_name
0   Perugia     tagliatella
1   Perugia  torta al testo
2   Bologna     tagliatella
3  Florence        bistecca
4   Perugia   baci perugina

In [13]:
(
    city_df
    .merge(relations, on="city_name")
    .merge(food_df, on="food_name")
    .query("has_tomato")
    ["region"]
)

0            Umbria
1    Emilia-Romagna
Name: region, dtype: object